* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.heart {
  color: #fb7e6e;
  font-size: 200px;
  position: relative;
  top: 150px;
  left: 40%;
  animation-name: animation;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes animation 
{
    0%{
        font: size 200px; 
    }
    25%{
        font: size 230px; 
    }
    50%{
        font-size: 250px
    }
    75%{
        font-size: 270px;
    }
    100%{
        font: size 200px; 
    }
}